<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home" data-hook><%= link_to Spree.t(:home), 'http://store.nannakay.co.uk/' %></li>
    <li id="about" data-hook><%= link_to 'About', 'http://nannakay.co.uk/about' %></li>
    <li id="nutrition" data-hook><%= link_to 'Nutrition', 'http://nannakay.co.uk/nutrition' %></li>
    <li id="contact" data-hook><%= link_to 'Contact', 'http://nannakay.co.uk/contact' %></li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>